<ion-header>
  <ion-toolbar>
      <ion-menu-toggle menu="first" slot="start">
        <ion-menu-button color="medium" menumenu="first"></ion-menu-button>
      </ion-menu-toggle>
    <ion-title style="text-align: center" text-uppercase>
      Prueba 
    </ion-title>
    <ion-button slot=end color="white" fill="clear"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="Contenido">
<ion-button color="medium" expand="block" (click)="Mostrar()">
  PopOver
</ion-button>
</ion-content>
