<ion-header>
    <ion-toolbar>
      <ion-button slot=start color="white" fill="clear"></ion-button>
        <ion-title style="text-align: center" color=danger text-uppercase>
          Alerta 
        </ion-title>
      <ion-button slot=end color="white" fill="clear"></ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="Contenido">
    <ion-list>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <ion-list>
                <ion-item>
                    <ion-img src="./assets/imgs/Placas.png" style="width:90%;margin: auto"></ion-img>
                </ion-item>
              </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item>
                        <ion-img src="./assets/imgs/Placas.png" style="width:90%;margin: auto"></ion-img>
                    </ion-item>
                  </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list>
                    <ion-item>
                        <ion-img src="./assets/imgs/Placas.png" style="width:90%;margin: auto"></ion-img>
                    </ion-item>
                  </ion-list>
            </ion-slide>
          </ion-slides>
          <div style="padding:0px 5%">
              <ion-button expand="block" color="medium">Alerta Recibida</ion-button>
              <ion-button expand="block" color="medium">Responder Alerta</ion-button>
              <ion-button expand="block" color="danger" fill="outline" (click)="Cancel()">Cancelar</ion-button>
          </div>
    </ion-list>
  </ion-content>