<ion-header>
  <ion-toolbar>
    <ion-button slot=start color="white" fill="clear"></ion-button>
      <ion-title style="text-align: center" color=danger text-uppercase>
        Alerta 
      </ion-title>
    <ion-button slot=end color="white" fill="clear"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="Contenido">
  <ion-list>
      <ion-slides pager="true" [options]="slideOpts" *ngIf="Bimagen==true">
          <ion-slide *ngFor="let item of Imagenes">
            <ion-list>
              <ion-item>
                  <ion-img src="{{item}}" style="width:90%;margin: auto"></ion-img>
              </ion-item>
            </ion-list>
          </ion-slide>
         </ion-slides>
        <div style="padding:0px 5%">
            <ion-item *ngIf="Blabel==true">
              <ion-label style="text-align:center" text-uppercase>{{Texto}}</ion-label>
            </ion-item>
            <ion-item *ngIf="Binput==true">
                <ion-input placeholder="Respuesta"></ion-input>
              </ion-item>
            <ion-button *ngIf="Binput==true" expand="block" color="medium">Enviar Respuesta</ion-button>
            <ion-button *ngFor="let button of Botones" expand="block" color="medium" (click)="console.log(button.value)">{{button.Text}}</ion-button>
            <ion-button expand="block" color="danger" fill="outline" (click)="Cancel()">Cancelar</ion-button>
        </div>
  </ion-list>
</ion-content>
