<ion-header>
    <ion-toolbar>
      <ion-button slot=start color="danger" fill="clear" (click)="this.navCtrl.navigateRoot('/home')"> <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon></ion-button>
      <ion-title style="text-align: center" text-uppercase>Notificación</ion-title>
      <ion-button slot=end color="white" fill="clear"> <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon></ion-button>
    </ion-toolbar>
    <ion-item>
      <ion-label text-wrap>
          {{Data[1]}}
      </ion-label>
      <ion-note slot="end" color=danger>{{this.Fecha}}</ion-note>
    </ion-item>
  </ion-header>

<ion-content class="Contenido">
  <ion-list>
      <ion-item>
          <ion-label color="danger">Dispositivo:</ion-label>
          <ion-note slot="end">{{this.Dispositivo}}</ion-note>
      </ion-item>
      <ion-item>
          <ion-label color="danger">Usuario:</ion-label>
          <ion-note slot="end">{{this.Usuario}}</ion-note>
      </ion-item>
    <ion-slides pager="true" [options]="slideOpts" *ngIf="Bimagen==true">
        <ion-slide *ngFor="let item of Imagenes">
          <ion-list>
            <ion-item>
                <ion-img src="{{item}}" style="width:90%;margin: auto"></ion-img>
            </ion-item>
          </ion-list>
        </ion-slide>
       </ion-slides>
      <div style="padding:0px 5%">
          <ion-item *ngIf="Blabel==true">
            <ion-label style="text-align:center" text-uppercase text-wrap>{{Texto}}</ion-label>
          </ion-item>
              <ion-item *ngIf="Binput==true">
                  <ion-label color="danger">Respuesta:</ion-label>
                  <ion-note slot="end">{{this.Response}}</ion-note>
              </ion-item>
         <ion-button *ngFor="let button of Botones" expand="block" color="medium" disabled="true">{{button.Text}}</ion-button>
      </div>
</ion-list>
</ion-content>