<ion-header>
    <ion-toolbar>
      <ion-button slot=start color="danger" fill="clear" (click)="Atras()"> <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon></ion-button>
      <ion-title style="text-align: center" text-uppercase>{{Data[1]}}</ion-title>
      <ion-button *ngIf="Editar==false" slot=end color="white" fill="clear"> <ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
      <ion-button *ngIf="Editar==true" slot=end color="blue" fill="clear" (click)="EditarActive()"> <ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
    </ion-toolbar>
    <ion-button *ngIf="Editar==false" color=medium expand=block fill=outline>Editando...</ion-button>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item-group style="width: 100%" *ngFor="let item of Dispositivo;let i=index;">
            <ion-item-divider (click)=ToggleD(i)>
              <ion-label color="danger" text-uppercase>{{item.NameDevices}}</ion-label>
              <ion-icon *ngIf="TDisp[i]==false" slot=end name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="TDisp[i]==true" slot=end name="remove"></ion-icon>
            </ion-item-divider>
            <div *ngIf="TDisp[i]==true">
            <ion-item *ngFor="let comp of Componentes[i];let j=index;">
                <ion-item-group style="width: 100%">
                    <ion-item-divider (click)=ToggleC(i,j)>
                      <ion-label text-uppercase>{{comp.NameComponent}}</ion-label>
                      <ion-icon *ngIf="Tcomp[i][j]==false" slot=end name="arrow-dropdown"></ion-icon>
                      <ion-icon *ngIf="Tcomp[i][j]==true" slot=end name="remove"></ion-icon>
                    </ion-item-divider>
                    <div *ngIf="Tcomp[i][j]==true">
                        <ion-item *ngFor="let event of Eventos[i][j];let k=index;">
                        {{event.NameEvent}}
                        <ion-toggle *ngIf="Editar==true" slot=end color="danger" [(ngModel)]="Vevent[i][j][k]" disabled="true"></ion-toggle>
                        <ion-toggle *ngIf="Editar==false" slot=end color="danger" [(ngModel)]="Vevent[i][j][k]" disabled="false"></ion-toggle>
                      </ion-item>
                    </div>
                  </ion-item-group>
            </ion-item>
            </div>
          </ion-item-group>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="Editar==false" expand="block" fill="outline" color="medium" (click)="Guardar()">
    Guardar Cambios
</ion-button>
</ion-footer>